---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import PostCard from "@/components/PostCard.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Link from "@/components/shared/Link.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";

import presentation from "@/data/presentation";
import projects from "@/data/projects";
import technologies from "@/data/technologies";
import TechnologyCard from "@/components/TechnologyCard.astro";
import CTA from "@/components/CTA.astro";

// const posts = (await getCollection("posts")).sort(function (first, second) {
//   return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
// });
---

<Layout>
    <main class="flex flex-col gap-20" id="scrollspy">
        <article class="flex flex-col gap-8 md:gap-20">
            {
                presentation.profile && (
                    <Image
                        src={presentation.profile}
                        class="w-1/4 self-center rounded-full"
                        alt="Your Profile"
                        width="200"
                        height="200"
                    />
                )
            }

            <div class="flex flex-col sm:flex-row items-center gap-2 md:gap-20">
                <h1 class="text-5xl sm:text-8xl lg:text-9xl xl:text-[182px] font-semibold text-secondary">
                    {presentation.title}
                </h1>

                <img src="/star.svg" alt="star" class="sm:inline h-20 w-20 lg:h-36 lg:w-36" />
                
            </div>

            <div class="text-center sm:text-end text-5xl sm:text-8xl lg:text-9xl xl:text-[182px] font-semibold text-secondary">
                {presentation.name}
            </div>
        </article>

        <hr class="md:mt-12 border-secondary opacity-[0.30]" />

        <article id="about" class="flex flex-col gap-8">
            <h3 class="text-lg font-semibold uppercase text-primary">
              About
            </h3>

            <p
                class="w-auto max-w-[60ch] text-2xl leading-6 text-secondary"
                set:html={convertAsteriskToStrongTag(presentation.description)}
            />
        </article>

        <hr class="mt-12 border-secondary opacity-[0.30]" />

        <article class="flex flex-col gap-8" id="technologies">
            <header class="flex w-full flex-row justify-between gap-2">
                <h3 class="text-lg font-semibold uppercase text-primary">
                    Technologies
                </h3>
            </header>

            <section class="grid lg:grid-cols-3 md:grid-cols-2 gap-12">
                {
                    technologies.map((technology) => (
                        <TechnologyCard tech={technology} />
                    ))
                }
            </section>
        </article>

        <hr class="mt-12 border-secondary opacity-[0.30]" />

        <article class="flex flex-col gap-8" id="projects">
            <header class="flex w-full flex-row justify-between gap-2">
                <h3 class="text-lg font-semibold uppercase text-primary">
                    Projects
                </h3>
            </header>
            {projects.length === 0 && <p>Oops, I must work^^^^^</p>}

            <section class="grid md:grid-cols-2 gap-8">
                {
                    projects.length !== 0 &&
                        projects.map((project) => <ProjectCard {...project} />)
                }
            </section>
        </article>

        <!-- <article class="flex flex-col gap-8">
            <header class="flex w-full flex-row justify-between gap-2">
                <h3 class="text-lg text-secondary">Get in touch</h3>
            </header>
            <p>
                Email me at <Link
                    href={`mailto:${presentation.mail}`}
                    label={presentation.mail}
                /> or follow me via my social links.
            </p>

            <SocialLinks />
        </article> -->
    </main>

    <!-- <CTA /> -->
</Layout>
